.bg-info{
    height: 50px;
    border-radius: 8px;
    font-size: 30px;
    text-align: center;
}
#box1, #box2, #box3{
    height: 100px; 
    border-radius: 8px; 
    font-size: 25px; 
    text-align: center;
}
#btn1{
    height:200px;
    border-radius:10px; 
    font-weight: bold;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}
.ct1{
    font-size: 20px;
}

#btn2{
    height:200px;
    border-radius:10px; 
    font-weight: bold;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}
.led .switch[type="checkbox"] {
	position:relative;
	width: 6rem;
	height: 3rem;
	-webkit-appearance:none;
	background-color:gray;
	border-radius:1.5rem;
}
.led .switch[type="checkbox"]::before {
	position: absolute;/* chuyển dời nút tròn */
	width: 3rem;
	height: 3rem;
	border-radius:1.5rem;
	top: 0;
	left: 0;
	background:white;
}
.led .switch:checked[type="checkbox"]::before {
	content: "OFF";
	transition:.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	left:3rem;
    background: red;
}
.led .windows[type="checkbox"]::before {
	content: "ON";
	transition:.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	border: radius 10px;
    background: green;
}